{% extends 'base-admin.html' %} {% block body %}
<div>
  <h1 class="title-text">Update News</h1>
  <form action="/admin/news/update/{{news.id}}" method="post">
    <h2>Title</h2>
    <input
      type="text"
      name="title"
      id="title"
      placeholder="title"
      value="{{news.title}}"
    />
    <h2>Article</h2>
    <input
      type="text"
      name="article"
      id="article"
      placeholder="article"
      value="{{news.article}}"
    />
    <br />
    <input type="submit" value="Update news" />
  </form>
</div>
{% endblock %}
