<!DOCTYPE html>
<html>
  <head>
    <!-- basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <!-- site metas -->
    <title>About team</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- bootstrap css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="static/css/bootstrap.min.css"
    />
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <!-- Responsive-->
    <link rel="stylesheet" href="static/css/responsive.css" />
    <!-- fevicon -->
    <link rel="icon" href="static/images/fevicon.png" type="image/gif" />
    <!-- font css -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.min.css" />
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="/static/css/font-awesome.css" />
    <style>
        form{
            text-align: center;
        }
    </style>
  </head>
  <body>
    <div class="header_section">
      <div class="container-fluid zero-space">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="index.html"
            ><img src="static/images/logo.png"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/team">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/team">Players</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <div class="login_bt">
                <ul>
                  <li>
                    <a href="/login">
                      ><span class="user_icon"
                        ><i class="fa fa-user" aria-hidden="true"></i></span
                      >Login</a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-search" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </nav>
      </div>
    <h1 style="text-align: center; color:aliceblue;"><b> About The Team</b></h1>

    <p style="text-align: justify;color: white; background-color:rgba(36, 28, 28, 0.507);">
        The team contains international players from different countries around the world over the few years. Camp Nou was built between 1954 and 1957, and officially opened on the 24th of September 1957 with a match between FC Barcelona and a selection of players from the city of Warsaw.

        The stadium replaced Barcelona’s previous ground Camp de les Corts, which, though it could hold 60,000 supporters, was still too small for the growing support of the club.
        
        Camp Nou initially consisted of two tiers that could hold 93,000 spectators. It was first called Estadi del FC Barcelona, but got soon referred to as Camp Nou.
        
        The stadium was, together with Estadio Santiago Bernabeu, playing venue of the Euro 1964 Championships. It hosted the semi-final between the Soviet Union and Denmark (3-0), and the match for third place between Hungary and the same Denmark (3-1).
        
        The stadium hosted two Cup Winners’ Cup finals in the following decades, the first in 1972 between Glasgow Rangers and Dynamo Moscow (3-2), and the second in 1982 between Barcelona and Standard de Liège (2-1).
        
        Camp Nou got expanded with a third tier for the 1982 World Cup, which raised capacity to 120,000 places. During the World Cup, it hosted the opening match between Belgium and Argentina (1-0), three matches in the second group stage, and the semi-final between Italy and Poland (2-0).
        
        In 1989, Camp Nou hosted the European Cup final between AC Milan and FC Steaua (4-0), which was followed in 1999 by the Champions League final between Manchester United and FC Bayern (2-1).
        
        In the early 1990s, Barcelona started converting various standing areas into seating, which reduced capacity, though additional seats were created by lowering the pitch.
        
        Until the late 1990s, Camp Nou still had some standing areas at the top of the third tier, but these were finally eliminated, reducing capacity to just below 100,000.
        
        In contrast to the Bernabéu, Camp Nou has changed relatively little since its inauguration and lacks many of the modern facilities common in most stadiums these days. For the last decade, Barcelona have therefore been investigating either redeveloping Camp Nou, or even building a completely new stadium.
        
        In the mid 2000s, the club presented plans for a renovated Camp Nou, designed by Norman Foster, but a lack of funding prevented realisation. The club next started studying a move to a new stadium, but finally decided in 2014 to redevelop the current stadium.
        
        The redevelopment will entail the reconstruction of the first tier resulting in a steeper tier with better views, the extension of the top tier over the whole of the stadium, the construction of a roof to cover all seats, and expansions and improvements to the 
        interior of the stadium aimed at providing better facilities. The resulting capacity will be slightly higher at a little over 
        105,000 seats. Works are planned to start in 2017 and gradually performed over four seasons to finish in 2021.
        Barcelona B youth manager Pep Guardiola took over Frank Rijkaard's duties at the conclusion of the season.
         Guardiola brought with him the now famous tiki-taka style of play he had been taught during his time in the 
         Barcelona youth teams. In the process, Guardiola sold Ronaldinho and Deco and started building the Barcelona
          team around Xavi, Andrés Iniesta and Lionel Messi.
          After Laporta's departure from the club in June 2010, Sandro Rosell was soon elected as the new president. 
          The elections were held on 13 June, where he got 61.35% (57,088 votes, a record) of total votes.Rosell signed 
          David Villa from Valencia for €40 million[115] and Javier Mascherano from Liverpool for €19 million. At 
          the 2010 World Cup in South Africa, Barcelona players that had graduated from the club's La Masia youth system 
          would play a major role in Spain becoming world champions. On 11 July, seven players who came through the academy 
          participated in the final, six of whom were Barcelona players who started the match, with Iniesta scoring the winning
          goal against the Netherlands.
          In November 2010, Barcelona defeated their main rival Real Madrid 5–0 in El Clásico. At the ceremony for the 2010 FIFA 
          Ballon d'Or in December, Barcelona's La Masia became the first youth academy ever to have all three finalists for the Ballon 
          d'Or, with Messi, Iniesta and Xavi being named the three best players in the world for 2010.[119] In the 2010–11 season, 
          Barcelona retained the La Liga trophy, their third title in succession, finishing with 96 points.[120] In April 2011, the 
          club reached the Copa del Rey final, losing 1–0 to Real Madrid at the Mestalla Stadium in Valencia.[121] In May, Barcelona 
          defeated Manchester United in the 2011 Champions League Final 3–1 held at Wembley Stadium, a repeat of the 2009 final, winning
           their fourth European Cup.[122] In August 2011, La Masia graduate Cesc Fàbregas was bought from Arsenal and he would help 
           Barcelona defend the Spanish Supercup against Real Madrid. The Supercup victory brought the total number of official trophies
            to 73, matching the number of titles won by Real Madrid.
  
            Later the same month, Barcelona won the UEFA Super Cup defeating Porto 2–0 with goals from Messi and Fàbregas. This extended
             the club's overall number of official trophies to 74, surpassing Real Madrid's total amount of official trophies.The Super 
             Cup victory also saw Guardiola win his 12th trophy out of a possible 15 in his three years at the helm of the club, becoming
              the all-time record holder of most titles won as a coach at Barcelona
        
    </p>

      
    &nbsp;
    <!-- footer section end -->
    <!-- copyright section start -->
    <div class="copyright_section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <p class="copyright_text">2023 All Rights Reserved. Fc Barcelona</p>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="footer_social_icon">
              <ul>
                <li>
                  <a href="https://www.facebook.com/profile.php?id=100095718724100"
                    ><i class="fa fa-facebook" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <!-- copyright section end -->
    <!-- Javascript files-->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/jquery-3.0.0.min.js"></script>
    <script src="static/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="static/js/custom.js"></script>
  </body>
</html>
